.accordion {
  width: 95%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices (landscape phones, 768px and up) */
@media (min-width: 768px) {
  .accordion {
    width: 80%;
    margin-top: 6rem;
    margin-bottom: 70px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .accordion {
    width: 80%;
    margin-top: 7rem;
    margin-bottom: 100px;
  }
}